/*START footer--------------------------------------------------*/
footer.footer{
  position: relative;
  background: transparent;
  padding: 55px 0 0;
  &::before{
    content: "";
    background: transparent url('../images/rope.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    top: -7.5px;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: 1;
  }
  .social-f{
      .social-networks{      
        display: inline-block;
        font-size: 0;
        line-height: 1em;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        margin-top: 60px;
        margin-bottom: 0 !important;
         li{
          display: inline-block;
          position: relative;
          width: 30px;
          height: 30px;
          border: 1px solid transparent;
          margin: 0 10px;
          a{
            border: 1px solid transparent;
            color: $principal;
            display: inherit;
            position: relative;
            transition:0.4s;
            padding: 0;
            font-size: 18px;
          }
          &:hover{
            border: 1px solid white;
            transition: 0.4s;
          }
          &:first-child{
            margin: 0 10px 0 0 !important;
          }
        } 
      }
    } 
  .footer-top{
    position: relative;
    margin-bottom: 75px;
    .flex-container{
       /*Flex*/
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      
      -webkit-flex-flow: row nowrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      
      float: none;
      .flex-item{
        max-width: 100%;
        margin: 0;
        width: 25%;
        .foundation-logo{
          .logo-footer{
            width: 100%;
            height: 160px;
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
            position: relative;
          } 
        }
        p{
          @include font1;
          font-weight: 400 !important;
          font-size: 18px !important;
          color: $principal !important;
          margin-bottom: 0 !important;
          strong{
            font-weight: 700 !important;
            font-size: 16px !important;
            text-transform: uppercase !important;
          }
          a{
            color: $principal !important;
          }
        }
      }

    }
  } 
  .footer-bottom{
    padding: 20px 0 15px;
    position: relative;
    text-align: center; 
    &::before{
      content: "";
      background: $principal;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .copyright-section{
      display: flex;
      justify-content: space-between;
      .left{
      }
    }  
    .copy-r{
      float: none;
      margin-left: 10px;
     } 
    .elevationweb{
      float: none;   
      padding-right: 10px;   
      position: relative;
    }
    .copy-r, .elevationweb{
      @include font5;
      display: block;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      margin: 0 !important;
      color: $principal !important;
      span{
        font-weight: 700 !important;
      }
      a{
        @include font1;
        color: $principal !important;
        font-weight: 400;
        span{
          text-transform: uppercase;
          margin-left: 5px;
          color: $secondary !important;
        }
        &:hover{
          text-decoration: underline;
        }
      } 
      p{
        @include font5;
        display: block;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        margin: 0 !important;
        color: $principal !important;
        span{
          font-weight: 700 !important;
          margin-right: 5px;
        }
        a{
          @include font1;
          color: $principal !important;
          font-weight: 400;
          span{
            text-transform: uppercase;
            margin-left: 5px;
            color: $secondary !important;
          }
          &:hover{
            text-decoration: underline;
          }
        } 
      }
    }
    .classic-text-widget{
      display: block !important;
    }
  }
  .fixed-footer{
    display: none;
  }
}
body.home{
  footer.footer{
    &::before{
      content: none !important;
    }
  }
}
@include mediaqueries(1440max) {
 
}
@include mediaqueries(1370max) {

}
@include mediaqueries(1200max) {
  footer.footer{
    .footer-top{
      .flex-container{
        .flex-item{
          p{
            font-size: 17px !important;
          }
        }
      }
    }
  }
}
@include mediaqueries(991max) {
  footer.footer{
    .footer-top {
      padding-bottom: 0;
      .address-information, .contact-info{
        text-align: center;
        display: inline-block !important;
      }
      .right-footer{
        text-align: center;
        ul.social{
          position: relative;
          top: unset;
        }
        .links-footer{
          text-align: center;
        }
      }
      .flex-container{
        -webkit-align-content: space-around;
        -webkit-align-items: center;
        -webkit-flex-flow: column wrap;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        .flex-item{
          margin-bottom: 25px;
          &:last-child{
            margin-bottom: 0 !important;
          }
        }
      }
    }
    .footer-bottom{
      .copyright-section{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  } 
  footer.footer .footer-top .flex-container .flex-item .foundation-logo .logo-footer{
    background-position: center;
  }
  footer.footer .footer-top .flex-container .flex-item:nth-child(2){
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
    .address-information{
      margin: 25px;
    }
  } 
  footer.footer .footer-bottom .copyright-section .left{
    align-items: center;
    justify-content: center !important;
  } 
  footer.footer .social-f .social-networks{
    margin-top: 10px !important;
  }
  footer.footer .footer-top{
    margin-bottom: 55px !important;
  }
}
@include mediaqueries(767max) { 
  footer.footer{
    .fixed-footer{
      bottom: 0;
      display: block !important;
      left: 0;
      padding: 0;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 99;
      background: $white;
      box-shadow: 5px 6px 22px 0px #000000;
      .header-top{
        ///padding: 10px 0 ;
        display: flex;
        justify-content: space-between;
        .social-networks{      
          display: inline-block;
          font-size: 0;
          line-height: 1em;
          margin: 0;
          padding: 0;
          float: left;

          margin-top: 9px;
          text-align: center;
          vertical-align: middle;
           li{
            display: inline-block;
            margin: 0 5px 0 0!important;
            a{
              border-radius: 0;
              border: none;
              color: #262626;
              display: inherit;
              height: 30px;
              margin: 0;
              position: relative;
              transition:0.4s;
              width: 30px;
              i{
                @include center(-50%,-50%);
                font-size: 20px;
                left:50%;
                position: absolute;
                top:50%;
              }
              &:hover{
                background: transparent;
                color: $secondary;
                box-shadow: none;
                i{
                  background: transparent;
                  text-shadow: none;              
                }
              }
            }
          } 
        }        

        .btn-dnt{
          background: $secondary;
          transition: 0.4s;
          border-radius: 3px;
          display: inline-block;
          margin-left: 15px;
          a{
            @include font1;
            border-radius: 50%;
            border: none;
            color: $white;
            display: inherit;
            margin: 0 15px;
            position: relative;
            transition:0.4s;
            font-weight: 700;
            font-size: 18px;
            text-transform: capitalize !important;
            text-decoration: none !important;
            padding: 5px 25px;
            border-radius: 5px;
            transition: 0.4s;
            margin-left: 15px;
            &:hover{
              text-decoration: none !important;
            }
          }
          &:hover{
            text-decoration: none !important;
            background: $principal;
            color: $white;
            transition: 0.4s;
          }
        }
        a.glink{
          color: $secondary;
        }
      }
    }  
  }
  footer.footer{
    .footer-top{
      .flex-item{
        img{
          width: 50%;
        }
      }
    }
  }
  footer .social-f{
    margin-top: 25px;
  }
  footer.footer .flex-item{
    width: 100% !important;
    text-align: center;
  }
  footer.footer .footer-top .contact-info p, footer.footer .footer-top .contact-info span, footer.footer .footer-top .address-information p, footer.footer .footer-top .address-information span{
    text-align: center !important;
  }
}
@include mediaqueries(480max) { 
  footer.footer .footer-top {
    text-align: center;

    .footer-top-left{
      float: none;
      text-align: center;
    }
    .footer-top-right{
      text-align: center;
      float: none;
    }
  }
  footer.footer .flex-item{
    width: 100% !important;
    text-align: center;
  }
  footer.footer .footer-bottom .copyright-section .left{
    flex-direction: column !important;
    .copy-r{
      display: block !important;
      margin-left: 0 !important;
    }

  }
  footer.footer .footer-bottom .elevationweb{
    padding: 0 !important;
  }
}
footer.footer .fixed-footer .header-top .social-networks{
  display: none;
}
@include mediaqueries(320max) {
  
}


/*END footer------------------------------------------*/