/*START Helper Classes------------------------------------------*/
.d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
 &.justify-content-between{
   -webkit-flex-flow: row wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
 }
 &.justify-content-center{
   -webkit-flex-flow: row wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
 }
 &.justify-content-around{
   -webkit-flex-flow: row wrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: flex-start;
   align-items: flex-start;
 }
 &.flex-end{
   -webkit-flex-flow: row wrap;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-align-items: center;
   align-items: center;
 }
 &.flex-start{
   -webkit-flex-flow: row wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
 }
 &.center{
   -webkit-flex-flow: row wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
 }
}
.flex-container{
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  -webkit-align-content: space-around;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.alignleft{
  float:left;
  margin:0 15px 15px 0;
}

.alignright{
  float:right;
  margin:0 0 15px 15px;
}

.aligncenter{
  display:block;
  margin:0 auto;
}
#mySelect{
  width: 130px !important;
}
#myMember{
  .col-md-4{
    padding: 0 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 15px;
    text-align: center;
    a{
      text-decoration: none !important;
      transition: 0.4s;
      &:hover{
        text-decoration: underline !important;
        transition: 0.4s;
      }
    }
    .mytitle{
      width: 85%;
      margin: 35px auto;
      text-decoration: none !important;
    }
    .myfirm{
      margin-bottom: 15px;
      display: block;
    }
  }
}

.img-wrap{
  position: relative;
  overflow: hidden;
  z-index: 3;
  height: 250px;
  width: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img{
    position: absolute;
    top:50%;
    left: 50%;
    @include center(-50%,-50%);
    max-height: inherit;
    min-width: inherit;
    width: 100%;
    height: auto;
    z-index: 1;
  }
}

div.printfriendly{
  position: absolute;
  right: 0;
  top: -50px;
}

#bbp-search-form{
  margin-bottom: 15px;
  input#bbp_search_submit{
    display: inline-block;
    height: 35px;
    padding: 9px 25px;
  }
}
#bbpress-forums div.bbp-breadcrumb { 
  display: inline-block;
  float: none;
  vertical-align: middle;
  p{
    margin-bottom: 0;
  }
}
#subscription-toggle{
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-left:15px;
  .subscription-toggle{
    @include font1;      
    background: $principal;
    border-radius: 5px;
    color:#fff !important;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 800;
    margin:0 auto; 
    max-width: 100%;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
    &:hover,&:focus,&:active{
      background:#fff;
      text-decoration: none;
      color:$principal !important;
    }
  }
}
.follow{
  padding: 20px;  
  ul.social{      
    display: inline-block;
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
     li{
      @include font3;
      color: $light-text;
      display: inline-block;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      margin: 0px !important;
      vertical-align: middle;
      a{
        border-radius: 50%;
        border: 2px solid $light-text;
        color: $light-text;
        display: inherit;
        height: 35px;
        margin:0 5px;
        position: relative;
        transition:0.4s;
        width: 35px;
        i{
          @include center(-50%,-50%);
          font-size: 18px;
          left:50%;
          position: absolute;
          top:50%;
        }
        &:hover{
          background: $light-text;
          color: $text;
          box-shadow: none;
          i{
            background: transparent;
            text-shadow: none;              
          }
        }
      }
    } 
  } 
}



@include mediaqueries(991max) {
  #myMember .col-md-4{
    width: 50%;
    margin: auto;
  }
}
@include mediaqueries(767max) {
  #myMember .col-md-4{
    width: 50%;
    margin: auto;
  }
}
@include mediaqueries(480max) {
   div.printfriendly{
    top: -80px;
  }
  #myMember .col-md-4{
    width: 95%;
    margin: auto;
  }
}

/*END Helper Classes-------------------------------------*/